/* Global CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Golbal CSS End */

/* Common CSS */
body{
    font-family: 'Oswald', sans-serif;
}

.flex-container{
    display: flex;
    margin-bottom: 90px;
}


/* Common CSS End */

/* Section-1 */

.banner-content{
    width: 50%;
    margin-left: 70px;
    padding-top: 175px;
}

.banner-heading{
    font-size: 55px;
    letter-spacing: 5px;
    color: #575757;
}

.banner-paragraph{
    font-size: 20px;
    margin-top: 25px;
    color: #828282;
}

.banner-btn,
.button-link{
    text-decoration: none;
    padding: 17px 35px;
    display: inline-block;
    color: white;
    background-image: linear-gradient(orange, tomato);
    margin-top: 30px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 3px;
    border-radius: 30px;
}

.color-change{
    color: tomato;
}

.banner-img{
    width: 50%;
    margin-right: 70px;
}

/* End of Section-1 */

/* Section-2 */
.section-2{
    background-image: url(img/7.png);
    background-repeat: no-repeat;
    height: 420px;
}

.about-img{
    width: 50%;
    margin-top: 56px;
}
.about-img img{
    width: 40%;
    padding-left: 41px;
    margin-left: 203px;
}
.about-content{
    width: 50%;
    padding-top: 101px;
    padding-right: 172px;
}

.about-heading{
    font-size: 41px;
    letter-spacing: 10px;
    color: #707070;
    margin-bottom: 29px;
}

.about-paragraph{
    font-size: 19px;
    font-weight: 600;
    color: #18191E;
}
/* End of Section-2 */

/* Section-3 */
.recip-heading{
    font-size: 41px;
    color: #707070;
    text-align: center;
    margin-bottom: 10px;
}

.recip-paragraph{
    font-size: 18px;
    text-align: center;
    margin-bottom: 44px; 
}

.recip-items{
    justify-content: center;
}

.item-food{
    width: 29%;
    box-shadow: 10px 10px 40px grey;
    padding: 20px;
    margin-left: 30px;
    border-radius: 36px;
}


.item-food img{
    width: 100%;
    margin-bottom: 15px;

}

.item-heading{
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
/* End of Section-3 */

/* Section-4 */
.section-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
}

.section-4-heading{
    font-size: 41px;
    color: #707070;
    margin-bottom: 10px;
}

.section-4-paragraph{
    font-size: 24px;
    margin-bottom: 10px;
}
/* End of Section-4 */

/* Section-5 */


.section-5-heading{
    font-size: 41px;
    color: #707070;
    text-align: center;
    margin-bottom: 30px;
}

.family-pack{
    justify-content: center
}

.family-pack-item{
    width: 20%;
    margin-left: 20px;
    box-shadow: 10px 10px 40px gray;
}

.family-pack-item a {
    text-decoration: none;
    display: inline-block
}

.family-pack-item img{
    width: 100%;
}

.family-pack-item .link{
    font-size: 22px;
    color: black;
    padding: 20px;
}
/* End of Section-5 */